<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR Project</title>
</head>
<style>
    body{
        background-color: black;
        color:red;
        text-align: center;
    }
</style>
<body>
    
    <img src="https://wallpapers.com/images/hd/kid-luffy-smile-so2g6s6jqyc9vtz2.jpg" alt="image" height="200" width="200">
     <H1>HELLO THERE!</H1>
    <h1>Please Upload an Image</h1>
    <img src="https://st3.depositphotos.com/10953114/33210/v/450/depositphotos_332107582-stock-illustration-glow-isolated-blue-transparent-effect.jpg" height="80" width="200">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <input type="submit" value="Upload">
    </form>
    <img src="https://img.freepik.com/premium-vector/black-melt-drips-liquid-paint-drops-seamless-vector-dripping-paint-liquid-drips-black-ink-runs-vector-illustration_561158-2299.jpg" height="300" width="1500">
    </body>
</html>
